@import "tailwindcss";

/*
    Default styles for the application
*/

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant coffee (&:where([data-theme="coffee"], [data-theme="coffee"] *));
@custom-variant ocean (&:where([data-theme="ocean"], [data-theme="ocean"] *));
@custom-variant neon (&:where([data-theme="neon"], [data-theme="neon"] *));

@theme {
    --color-text: var(--text-color);
    --color-brand: var(--brand-color);
    --color-surface: var(--surface-color);
}

/* Light mode*/
:root {
    --text-color: #1e293b;
    --brand-color: #3b82f6;
    --surface-color: #ffffff;
}

/* Dark mode */
[data-theme="dark"] {
    --text-color: #e0e7ff;
    --brand-color: #60a5fa;
    --surface-color: #0f172a;
}

[data-theme="coffee"] {
    --text-color: #3b2f2f;
    --brand-color: #92400e;
    --surface-color: #fef3c7;
}

[data-theme="neon"] {
    --text-color: #39ff14;
    --brand-color: #f0abfc;
    --surface-color: #2e1065;
}
